<div class="jumbotron center">
	<h1>Feel free to browse!</h1>
	<h2>You'll need to login to post though...</h2>
	<p>
		<%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Sign Up", new_user_registration_path , class: "btn btn-primary btn-lg" %>
	</p>

</div>
