<div class="jumbotron">
	<h1>About this app</h1>
	I built this imitation of Pinterest using the <a href="https://onemonth.com/courses/one-month-rails">One Month Ruby on Rails</a> course.<br>
  I <strong>highly</strong> recommend the course!
</div>