<div class="jumbotron">
	<h1>About us</h1>
	I am working on my One Month Rails pinteresting app!<br>
	This will be like Pinterest, except only for the Wellses.<br>
	(and maybe for our good friends...)
</div>