<div class="jumbotron">
	<h1>Who is this site for?</h1>
	<p> The list below is people for whom this site was developed:</p>
	<p style="color:#9b59b6">
	Eric Wells<br>
	Randi Wells<br>
	Caden Wells<br>
	Phoebe Wells
	</p>
	<%= image_tag("cat-funny-3.jpg", :alt => "rss feed") %>
</div>
