<div class="jumbotron">
	<h1>Who is this site for?</h1>
	<p> The list below is people for whom this site was developed:</p>
	<p style="color:#9b59b6">
	Eric Wells<br>
	Randi Wells<br>
	Caden Wells<br>
	Phoebe Wells
	</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/01-x5lfGu3U?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

	<!-- <%= image_tag("cat-funny-3.jpg", :alt => "rss feed") %> -->
</div>
